<div class="main-layout">
    
    <mat-toolbar color="primary" class="toolbar flex-row">
        <div class="title">
            Futbolito
        </div>

        <div class="menu flex-row">
            <div *ngFor="let option of options" matRipple class="menu-option ts-none" [routerLink]="option.redirect">
                {{ option.title }}
            </div>
        </div>
    </mat-toolbar>
    
    <div class="main-content">
        <ng-content></ng-content>
    </div>
</div>
