@import '../../../assets/styles/colors.scss';

.main-layout {
    height: 100%;
    overflow-x: hidden;

    .toolbar {
        justify-content: space-between;

        .menu {
            .menu-option {
                cursor: pointer;
                font-size: 16px;
                padding: 15px 25px;
            }
        }
    }

    .main-content {
        background: $background;
        height: calc(100% - 85px);
        max-height: calc(100% - 85px);
        padding: 20px 30px 0 30px;
        width: 100%;
    }
}