<div class="modal-edit-field">
    <h1 mat-dialog-title>Editar Cancha {{data.name}}</h1>
    <div mat-dialog-content>
        <app-field-form [fieldData]="data" (fieldChange)="closeDialog($event)"></app-field-form>
    </div>
</div>