<div class="field-table">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Lista de canchas</mat-card-title>
        </mat-card-header>
    
        <table mat-table [dataSource]="dataSource" class="mat-table">
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>
    
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
            </ng-container>
    
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="editField(element.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="removeField(element.id)"><mat-icon style="color: red;">delete</mat-icon></button>
                </td>
            </ng-container>
       
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                    No existen registros
                </td>
            </tr>
        </table>

        <mat-paginator 
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
        </mat-paginator>
    </mat-card>
</div>