<div class="field-form comp-content">
    <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nombre recinto</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Ubicación</mat-label>
            <input matInput formControlName="location">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Precio</mat-label>
            <input matInput formControlName="price">
        </mat-form-field>
        

        <button mat-raised-button class="btn-primary" (click)="submitForm()">{{ fieldData ? 'Editar' : 'Añadir' }}</button>

    </form>
</div>