<div class="main-field comp-content">
    <h1>Canchas</h1>

    <div class="comp-content">
        <app-create-field></app-create-field>

        <div class="list-fields">
            <app-field-table></app-field-table>
        </div>
    </div>
</div>