<mat-expansion-panel class="expansion-field">
    <mat-expansion-panel-header>
        <mat-panel-title>Añadir Jugador</mat-panel-title>
    </mat-expansion-panel-header>

    <app-player-form></app-player-form>
</mat-expansion-panel>