<div class="field-form comp-content">
    <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Alias</mat-label>
            <input matInput formControlName="alias">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Posición</mat-label>
            <input matInput formControlName="position">
        </mat-form-field>
        

        <button mat-raised-button color="primary" (click)="submitForm()">{{ playerData ? 'Editar' : 'Añadir' }}</button>

    </form>
</div>