<div class="modal-edit-field">
    <h1 mat-dialog-title>Editando a {{data.name}}</h1>
    <div mat-dialog-content>
        <app-player-form [playerData]="data" (playerChange)="closeDialog($event)"></app-player-form>
    </div>
</div>