<div class="player-table">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Lista de jugadores</mat-card-title>
        </mat-card-header>
    
        <table mat-table [dataSource]="dataSource" class="mat-table">
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="alias">
                <th mat-header-cell *matHeaderCellDef> Alias </th>
                <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
            </ng-container>

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Posición </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
    
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Acción </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="editPlayer(element.id)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button (click)="removePlayer(element.id)"><mat-icon style="color: red;">delete</mat-icon></button>
                </td>
            </ng-container>
       
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="9999">
                    No existen registros
                </td>
            </tr>
        </table>

        <mat-paginator 
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons>
        </mat-paginator>
    </mat-card>
</div>