
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$primary-palette: (
    50 : #e3e8eb,
    100 : #bac5ce,
    200 : #8c9ead,
    300 : #5e778c,
    400 : #3c5a73,
    500 : #193d5a,
    600 : #163752,
    700 : #122f48,
    800 : #0e273f,
    900 : #081a2e,
    A100 : #68a7ff,
    A200 : #3589ff,
    A400 : #026bff,
    A700 : #0060e8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent-pallete: (
    50 : #eff4f5,
    100 : #d6e4e7,
    200 : #bbd2d7,
    300 : #9fc0c7,
    400 : #8bb3bb,
    500 : #76a5af,
    600 : #6e9da8,
    700 : #63939f,
    800 : #598a96,
    900 : #467986,
    A100 : #e0f9ff,
    A200 : #adeeff,
    A400 : #7ae3ff,
    A700 : #61ddff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$futbolito-cdp-primary: mat.define-palette($primary-palette);
$futbolito-cdp-accent: mat.define-palette($accent-pallete);

// The warn palette is optional (defaults to red).
$futbolito-cdp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$futbolito-cdp-theme: mat.define-light-theme((
  color: (
    primary: $futbolito-cdp-primary,
    accent: $futbolito-cdp-accent,
    warn: $futbolito-cdp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($futbolito-cdp-theme);