<mat-expansion-panel class="expansion-field">
    <mat-expansion-panel-header>
        <mat-panel-title>Añadir cancha</mat-panel-title>
    </mat-expansion-panel-header>

    <app-field-form></app-field-form>
</mat-expansion-panel>