@import '../../../../../assets/styles/variables.scss';

.expansion-field {
    ::ng-deep {
        .mat-expansion-panel {
            border-radius: 6px !important;
        }

        .mat-expansion-panel-header {
            transition: 0.25s;
            background: $primary !important;

            &:hover {
                background: rgba($color: $primary, $alpha: 0.9) !important;
            }
        }

        .mat-expansion-panel-header-title, .mat-expansion-indicator::after {
            color: $white2;
        }
    }
}