<div class="main-field comp-content">
    <h1>Jugadores</h1>

    <div class="comp-content">
        <app-create-player></app-create-player>

        <div class="list-fields">
            <app-player-table></app-player-table>
        </div>
    </div>
</div>